@model TaskProject.Models.Company
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<form action="/companies/edit/@Model.Id" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="CompanyName">CompanyName</label>
            <input type="hidden" name="CompanyName" value="@Model.CompanyName" />
            <input type="text" class="form-control" id="CompanyName" placeholder="CompanyName" value="@Model.CompanyName" />
        </div>
        <div class="form-group col-md-6">
            <label for="ContactNumber">ContactNumber</label>
            <input type="hidden" name="ContactNumber" value="@Model.ContactNumber" />
            <input type="text" class="form-control" id="ContactNumber" placeholder="ContactNumber" value="@Model.ContactNumber" />
        </div>
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Address">Address</label>
            <input type="text" class="form-control" id="Address" placeholder="Address" value="@Model.Address" />
        </div>

    </div>
    
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-danger" href="/companies/index">Cancel</a>
</form>


